@media (min-width:320px) { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ 
    .Svg-Main{
        width: 50vw;
        height: 60vw;
    }
    .Home-first__Main{
        display:flex; 
        justify-content: space-between;
    }
    .Home-first__Wrapper{
        width: 50vw;
        margin-bottom: 100px;
    }
    .Home-first__H1{
        max-width: 90vw;
        margin: 50px auto 20px;
    }
    .Home-first__P{
        margin: 0 5vw 0 0;
        text-align: center;
    }

    .Section2{
        box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.459);
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .Section2__H2-PixoRetoSP{
        text-align: center;
        font-family: PixoRetoSP;
        font-size: calc(5vw + 30px);
        margin: 50px auto 0;
        color: #7F35B2;
    }
    .Section2__Img{
        margin-top: -10px;
        width: 80vw;
        max-width: 700px;
    }
    .Section2__Div{
        background-image: url('../midia/img/index/colored-hand.png');
        background-color: white;
        background-position: top;
        background-repeat: no-repeat;
        padding: 0 0 50px 0;
        width: 90%;
        margin-bottom: 50px;
    }
    .Section2__P{
        margin: auto;
        text-align: center;
        max-width: 900px;
    }
}
@media (min-width:480px) { /* smartphones, Android phones, landscape iPhone */ 
    .Home-first__H1{
        margin: 10vw 10vw 0 0;
        max-width: 100%;
    }
}
@media (min-width:600px) { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ 
    .Svg-Main{
        width: 45vw;
        height: 55vw;
    }

    .Section2__H2-PixoRetoSP{
        font-size: calc(5vw + 40px);
    }
}
@media (min-width:801px) { /* tablet, landscape iPad, lo-res laptops ands desktops */ 
    .Svg-Main{
        width: 40vw;
        height: 50vw;
    }
    .Home-first__Wrapper{
        width: 55vw;
    }
}
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ 
    .Svg-Main{
        width: 38vw;
        height: 46vw;
    }
    .Home-first__Wrapper{
        width: 60vw;
    }
}
@media (min-width:1281px) { /* hi-res laptops and desktops */ 
    .Svg-Main{
        width: 34vw;
        height: 42vw;
        max-width: 746px;
        max-height: 936px;
    }
    .Home-first__Wrapper{
        width: 65vw;
    }
    .Home-first__H1{
        margin: 12vw 10vw 0 0;
        text-align: center;
        max-width: 100%;
    }

    .Section2__H2-PixoRetoSP{
        font-size: 100px;
    }
}